<div class="ui container">
	<h2>Computer Science lab</h2>
	<h4>Scan your card or use biometrics</h4>
	<div class="ui divider"></div>
	<div class="ui two column grid">
		<div class="ui column">
			<a href="/fingerprints"><i class="ui hand pointer icon"></i></a>
			<div class="ui label">Fingerprint</div>
		</div>
		<div class="ui column">
			<i class="ui camera icon"></i>
			<div class="ui label">Facial recognition</div>
		</div>
	</div>
</div>