<div class="ui large menu">
	<div class="ui text container">
		<div class="item">Admin dashboard</div>
	</div>
	
</div>
<div class="ui text container">
	<h1>Authentication settings</h1>
	<div class="ui segment">
		<div class="ui form">
			<div class="ui field">
				<strong>Active identification methods: <i class="ui circular link help icon" data-content=""></i></strong>
				<div class="ui toggle checkbox">
				  <input type="checkbox" name="example">
				  <label>Card</label>
				</div>
				<div class="ui toggle checkbox">
				  <input type="checkbox" name="example">
				  <label>Fingerprint</label>
				</div>
				<div class="ui toggle checkbox">
				  <input type="checkbox" name="example">
				  <label>Face</label>
				</div>
			</div>
			<div class="ui field">
				<strong>Authentication flow: <i class="ui circular link help icon"></i></strong>
				<div class="grouped fields">
				    <div class="field">
				        <div class="ui radio checkbox">
				            <input type="radio" name="example2" checked="checked">
				            <label>Fast </label>
				        </div>
				    </div>
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="example2">
				        <label>Secure</label>
				      </div>
				    </div>
				   </div>
			</div>
		</div> 
	</div>
	<div style="text-align: right">
		<div class="ui red button">Submit</div>
		<div class="ui button">Cancel</div>	
	</div>
</div>
<style>
	.checkbox {
		display:block !important;
		margin-top:20px;
		margin-left:20px;
	}
</style>