<div class="ui large menu">
	<div class="ui container">
		<div class="item">Admin dashboard</div>
	</div>
	
</div>
<div class="ui container">
	<h1>Dashboard</h1>
	<div class="ui segment">
		<div class="ui two column grid">
			<div class="ui column" style="text-align:center">
				<div class="ui header">
					Bookings today
				</div>
				<div class="ui huge horizontal statistic">
					<div class="value">0</div>
				</div>
				<div class="ui fluid button">View all bookings</div>
			</div>
			<div class="ui column" style="text-align:center">
				<div class="ui header">
					Authentications today
				</div>
				<div class="ui huge horizontal statistic">
					<div class="value">0</div>
				</div>
				<div class="ui fluid button">View all authentications</div>
			</div>
		</div>
	</div>
	<div class="ui fluid black button">Authentication settings</div>
</div>