<div class="ui container">
	<h2>Computer Science lab</h2>
	<h4>Fingerprint authentication</h4>
	<div class="ui divider"></div>
	<div class="ui segment">
		<div class="ui two column grid">
			<div class="ui column">
				<i class="ui hand pointer icon"></i>
				<div class="ui label">Waiting for fingerprint</div>
			</div>
			<div class="ui column">
				<i class="ui unlock icon"></i>
				<div class="ui label">Door unlocked</div>
			</div>
		</div>
		<div class="ui active inline loader"></div>
	</div>
</div>