<div class="ui container">
	<h2>Computer Science lab</h2>
	<h4>Fingerprint authentication</h4>
	<div class="ui divider"></div>
	<div class="ui segment">
		<div class="ui two column grid">
			<div class="ui center column">

				
				<% if params["scanned"] != "true" %>
					<div class="waiting-for-fingerprint">
						<i class="ui massive hand pointer icon"></i>
						<div>
							<div class="ui label">Waiting for fingerprint</div>
						</div>
					</div>
				<% else %>
					<div class="waiting-for-match">
						<%= image_tag "outputimage.png" %>
						<div>
							<div class="ui block  label">Waiting for match</div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="ui center column">
				<div class="door-unlocked">
					<i class="ui massive unlock icon"></i>
					<div>
						<div class="ui block label">Door unlocked</div>
					</div>				
				</div>
				<div class="door-locked">
					<i class="ui massive lock icon"></i>
					<div>
						<div class="ui block label">Door locked</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui active inline loader"></div>
	</div>
</div>
<style>
	/*.waiting-for-fingerprint, .waiting-for-match, .door-unlocked, .door-locked {
		text-align:center;
	}*/
	.column.center {text-align:center !important;}
	.block {display:block;}
</style>
<script>
	$(".door-locked").hide()
	$(".door-unlocked").hide()
</script>