<div class="ui main menu">
	<div class="ui main container">
		<div class="item">
		Logged in as <%= current_user.email %>
		</div>
		<a class="right item">
		Sign out
		</a>
	</div>
</div>
<style>
	.main {
		margin-top:0px !important;
		border-radius:0px !important;
	}
	</style>