<div class="ui container">
	<div class="ui  segment header">
		<h2>Computer Science lab</h2>
		<h4>Room bookings and authentication management</h4>
		
	</div>
	<div class="ui divider"></div>
	<div style="text-align:right">
		<div class="ui left labeled button" tabindex="0">
			<a class="ui basic label">
				Add booking
			</a>
			<div class="ui icon button">
				<i class="plus icon"></i>
			</div>
		</div>
	</div>
	<div class="ui seven column divided grid segment">
		<div class="ui column">Monday</div>
		<div class="ui column">Tuesday</div>
		<div class="ui column">Wednesday</div>
		<div class="ui column">Thursday</div>
		<div class="ui column">Friday</div>
		<div class="ui column">Saturday</div>
		<div class="ui column">Sunday</div>
	</div>
	<div class="ui segment">
		<div class="ui seven column divided grid">
			<div class="ui column">
				<div class="ui disabled booking label">9am to 10am</div>
				<div class="ui red booking label">10am to 12pm</div>
				<div class="ui yellow booking label">12pm to 1pm</div>
				<div class="ui blue booking label">2pm to 4pm</div>
				
			</div>
			<div class="ui column"></div>
			<div class="ui column"></div>
			<div class="ui column"></div>
			<div class="ui column"></div>
			<div class="ui column"></div>
			<div class="ui column"></div>
		</div>

	</div>
</div>